requests==2.21.0
future==0.16.0
Werkzeug==0.11.3
elasticsearch==6.3.1
Flask==1.0.2
thehive4py==1.6.0
rt==1.0.11
grr-api-client==3.2.4.post6
grr-response-proto==3.2.4.post6
pymisp==2.4.103
ruamel.yaml==0.16.5
sigmatools==0.12.1
