elasticsearch==6.3.1
flask-bootstrap>=3.3.7.0
Flask==1.0.2
Flask-WTF==0.14.2
future==0.16.0
grr-api-client==3.2.4.post6
grr-response-proto==3.2.4.post6
jsonpickle>=1.2
pymisp==2.4.103
requests==2.21.0
rt==1.0.11
ruamel.yaml==0.16.5
sigmatools==0.15.0
thehive4py==1.6.0
Werkzeug==0.15.3
